<div
  class="flex flex-col px-10 md:px-0 mx-auto mt-10 md:mt-0 justify-evenly items-center min-h-dvh bg-white"
>
  <app-navbar [home]="false"></app-navbar>
  <h2 class="text-3xl text-left mb-2 underline">About</h2>
  <div class="max-w-4xl">
    <h2 class="text-xl md:text-3xl text-left">
      Welcome to R.A.G.E. - Empowering Nigerian Children Through Education
    </h2>
    <p class="text-sm md:text-base text-left my-4">
      At R.A.G.E. (Rights and Aid Group for Education), we believe that every
      child deserves access to quality education, regardless of their
      circumstances. With a passionate commitment to transforming lives through
      learning, we are dedicated to providing free education to one million
      Nigerian children aged 3 to 17.
    </p>
  </div>

  <div class="max-w-4xl">
    <h2 class="text-xl md:text-3xl text-left">
      Join Us in Making a Difference
    </h2>
    <p class="text-sm md:text-base text-left my-4">
      Through our innovative programs and tireless advocacy, we strive to break
      down barriers to education and empower the next generation of leaders.
      Together, we can create a brighter future for Nigeria by investing in the
      education of its children.
    </p>
  </div>
  <div class="max-w-4xl"></div>
</div>
<app-footer></app-footer>
