<div
  class="max-w-[calc(90%)] md:max-w-[calc(70%)] mx-auto mt-20 md:mt-0 flex flex-col justify-evenly items-center min-h-dvh bg-white"
>
  <app-navbar [home]="false"></app-navbar>

  <h2 class="text-3xl text-left mb-1 underline">Causes</h2>
  <div class="max-w-4xl">
    <h2 class="text-xl text-left">
      Ensuring Equal Access to Education for All Nigerian Children
    </h2>
    <p class="text-left text-sm my-4">
      At R.A.G.E., we believe that education is a fundamental human right that
      should be accessible to every child in Nigeria. Unfortunately, many
      children face barriers such as poverty, distance, and cultural norms that
      prevent them from attending school. Through our programs and initiatives,
      we work tirelessly to break down these barriers and ensure that every
      child has the opportunity to learn and thrive. By providing free
      education, scholarships, and support services, we are empowering Nigerian
      children to build a brighter future for themselves and their communities.
    </p>
  </div>

  <div class="max-w-4xl">
    <h2 class="text-xl text-left">
      Protecting the Rights and Well-being of Nigerian Children
    </h2>
    <p class="text-left text-sm my-4">
      Every child deserves to grow up in a safe and nurturing environment, free
      from harm and exploitation. At R.A.G.E., we are committed to safeguarding
      the rights and well-being of Nigerian children. Through our advocacy
      efforts, we raise awareness about issues such as child abuse, child labor,
      and trafficking, and work with government agencies and community partners
      to enact policies that protect children's rights. Additionally, we provide
      support services to children who have experienced trauma or abuse, helping
      them heal and rebuild their lives.
    </p>
  </div>
  <div class="max-w-4xl">
    <h2 class="text-xl text-left">
      Building Stronger Communities Through Education and Empowerment
    </h2>
    <p class="text-left text-sm my-4">
      Education is not just about individual achievement; it's also about
      community development and progress. At R.A.G.E., we recognize the
      important role that education plays in building stronger, more resilient
      communities. By investing in education, healthcare, infrastructure, and
      economic opportunities, we are laying the foundation for sustainable
      development and prosperity in Nigeria. Through our community-based
      programs and partnerships, we are empowering communities to take ownership
      of their futures and create positive change from within.
    </p>
  </div>
</div>

<app-footer></app-footer>
